schemas/sensor_readings/dm-d3m0s3ns0rr34d1ngsx8m5n3q.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  SDC4 Data Model: SensorReadings
  Pre-baked schema for SDC Agents Demo (self-contained mode).
  Generated from: data/sensor_readings.csv
-->
<xsd:schema
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sdc4="https://semanticdatacharter.com/ns/sdc4/"
  xmlns:sdc4-meta="https://semanticdatacharter.com/ontology/sdc4-meta/"
  targetNamespace="https://semanticdatacharter.com/ns/sdc4/"
  vc:minVersion="1.1">

  <xsd:annotation>
    <xsd:appinfo>
      <rdf:RDF>
        <rdf:Description rdf:about="dm-d3m0s3ns0rr34d1ngsx8m5n3q">
          <dc:title>SensorReadings</dc:title>
          <dc:creator>SDC Agents Demo</dc:creator>
          <dc:subject>Environmental sensor readings</dc:subject>
          <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
          <dc:relation>None</dc:relation>
          <dc:coverage>Universal</dc:coverage>
          <dc:type>SDC Data Model (DM)</dc:type>
          <dc:identifier>dm-d3m0s3ns0rr34d1ngsx8m5n3q</dc:identifier>
          <dc:description>Data model for environmental sensor readings including sensor identification, location path, temperature and humidity measurements, reading timestamps, and operational status.</dc:description>
          <dc:publisher>Axius SDC</dc:publisher>
          <dc:date>2025-11-01</dc:date>
          <dc:format>text/xml</dc:format>
          <dc:language>en-US</dc:language>
        </rdf:Description>
      </rdf:RDF>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:include schemaLocation="https://semanticdatacharter.com/ns/sdc4/sdc4.xsd"/>

  <!-- ================================================================== -->
  <!-- Component: SensorId (XdString)                                      -->
  <!-- ================================================================== -->
  <xsd:element name="ms-sr01s3ns0r1dstr1ngv4lu3ab" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-sr01s3ns0r1dstr1ngv4lu3ab"/>

  <xsd:complexType name="mc-sr01s3ns0r1dstr1ngv4lu3ab" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr01s3ns0r1dstr1ngv4lu3ab">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Sensor ID</rdfs:label>
          <rdfs:comment>Unique sensor identifier (e.g. SNS-A001).</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Sensor ID"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Location (XdString)                                      -->
  <!-- ================================================================== -->
  <xsd:element name="ms-sr02l0c4t10nstr1ngv4lu3cd" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-sr02l0c4t10nstr1ngv4lu3cd"/>

  <xsd:complexType name="mc-sr02l0c4t10nstr1ngv4lu3cd" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr02l0c4t10nstr1ngv4lu3cd">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Location</rdfs:label>
          <rdfs:comment>Hierarchical location path (Building/Floor/Room).</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Location"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Temperature (XdQuantity)                                 -->
  <!-- ================================================================== -->
  <xsd:element name="ms-sr03t3mp3r4tur3qu4nt1ty3f" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-sr03t3mp3r4tur3qu4nt1ty3f"/>

  <xsd:complexType name="mc-sr03t3mp3r4tur3qu4nt1ty3f" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr03t3mp3r4tur3qu4nt1ty3f">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdQuantityType"/>
          <rdfs:label>Temperature</rdfs:label>
          <rdfs:comment>Temperature reading in degrees Celsius.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdQuantityType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Temperature"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element name="xdquantity-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="xdquantity-units" type="sdc4:mc-sr03un1tstr1ngtyp3f0rt3mp"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Units type for Temperature -->
  <xsd:complexType name="mc-sr03un1tstr1ngtyp3f0rt3mp" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr03un1tstr1ngtyp3f0rt3mp">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Temperature Units</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Temperature Units"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Humidity (XdQuantity)                                    -->
  <!-- ================================================================== -->
  <xsd:element name="ms-sr04hum1d1tyqu4nt1tyv4lu3g" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-sr04hum1d1tyqu4nt1tyv4lu3g"/>

  <xsd:complexType name="mc-sr04hum1d1tyqu4nt1tyv4lu3g" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr04hum1d1tyqu4nt1tyv4lu3g">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdQuantityType"/>
          <rdfs:label>Humidity</rdfs:label>
          <rdfs:comment>Relative humidity percentage.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdQuantityType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Humidity"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element name="xdquantity-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="xdquantity-units" type="sdc4:mc-sr04un1tstr1ngtyp3f0rhum1"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Units type for Humidity -->
  <xsd:complexType name="mc-sr04un1tstr1ngtyp3f0rhum1" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr04un1tstr1ngtyp3f0rhum1">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Humidity Units</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Humidity Units"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: ReadingTime (XdTemporal)                                 -->
  <!-- ================================================================== -->
  <xsd:element name="ms-sr05r34d1ngt1m3t3mp0r4lhi" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-sr05r34d1ngt1m3t3mp0r4lhi"/>

  <xsd:complexType name="mc-sr05r34d1ngt1m3t3mp0r4lhi" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr05r34d1ngt1m3t3mp0r4lhi">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdTemporalType"/>
          <rdfs:label>Reading Time</rdfs:label>
          <rdfs:comment>ISO 8601 timestamp of the sensor reading.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdTemporalType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Reading Time"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdtemporal-datetime" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Status (XdString)                                        -->
  <!-- ================================================================== -->
  <xsd:element name="ms-sr06st4tusstr1ngv4lu3x7kjl" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-sr06st4tusstr1ngv4lu3x7kjl"/>

  <xsd:complexType name="mc-sr06st4tusstr1ngv4lu3x7kjl" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr06st4tusstr1ngv4lu3x7kjl">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Status</rdfs:label>
          <rdfs:comment>Operational status (normal, warning, critical).</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Status"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Cluster: SensorReadings Data Cluster                                -->
  <!-- ================================================================== -->
  <xsd:element name="ms-sr00clust3rs3ns0rr34d1ngs" substitutionGroup="sdc4:Item" type="sdc4:mc-sr00clust3rs3ns0rr34d1ngs"/>

  <xsd:complexType name="mc-sr00clust3rs3ns0rr34d1ngs" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-sr00clust3rs3ns0rr34d1ngs">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:ClusterType"/>
          <rdfs:label>SensorReadings Data Cluster</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:ClusterType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="SensorReadings Data Cluster"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-sr01s3ns0r1dstr1ngv4lu3ab"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-sr02l0c4t10nstr1ngv4lu3cd"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-sr03t3mp3r4tur3qu4nt1ty3f"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-sr04hum1d1tyqu4nt1tyv4lu3g"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-sr05r34d1ngt1m3t3mp0r4lhi"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-sr06st4tusstr1ngv4lu3x7kjl"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Root Data Model Element                                             -->
  <!-- ================================================================== -->
  <xsd:element name="dm-d3m0s3ns0rr34d1ngsx8m5n3q" substitutionGroup="sdc4:DM" type="sdc4:mc-d3m0s3ns0rr34d1ngsx8m5n3q"/>

  <xsd:complexType name="mc-d3m0s3ns0rr34d1ngsx8m5n3q">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-d3m0s3ns0rr34d1ngsx8m5n3q">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:DMType"/>
          <rdfs:label>SensorReadings</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:DMType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-label" type="xsd:string" fixed="SensorReadings"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-language" type="xsd:language" fixed="en-US"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-encoding" type="xsd:string" fixed="utf-8"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="creation_timestamp" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="instance_id" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="instance_version" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="current-state" type="xsd:string" default=""/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="sdc4:ms-sr00clust3rs3ns0rr34d1ngs"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="subject" type="sdc4:PartyType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="provider" type="sdc4:PartyType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:Participation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="protocol" type="sdc4:XdStringType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="workflow" type="sdc4:XdLinkType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="acs" type="sdc4:XdLinkType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
