schemas/lab_results/dm-d3m0labr3sult5x7k9q2w4p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  SDC4 Data Model: LabResults
  Pre-baked schema for SDC Agents Demo (self-contained mode).
  Generated from: data/lab_results.csv
-->
<xsd:schema
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sdc4="https://semanticdatacharter.com/ns/sdc4/"
  xmlns:sdc4-meta="https://semanticdatacharter.com/ontology/sdc4-meta/"
  targetNamespace="https://semanticdatacharter.com/ns/sdc4/"
  vc:minVersion="1.1">

  <xsd:annotation>
    <xsd:appinfo>
      <rdf:RDF>
        <rdf:Description rdf:about="dm-d3m0labr3sult5x7k9q2w4p1">
          <dc:title>LabResults</dc:title>
          <dc:creator>SDC Agents Demo</dc:creator>
          <dc:subject>Clinical laboratory test results</dc:subject>
          <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
          <dc:relation>None</dc:relation>
          <dc:coverage>Universal</dc:coverage>
          <dc:type>SDC Data Model (DM)</dc:type>
          <dc:identifier>dm-d3m0labr3sult5x7k9q2w4p1</dc:identifier>
          <dc:description>Data model for clinical laboratory test results including patient identification, test names, quantitative results with units, collection dates, and performing laboratory.</dc:description>
          <dc:publisher>Axius SDC</dc:publisher>
          <dc:date>2025-11-01</dc:date>
          <dc:format>text/xml</dc:format>
          <dc:language>en-US</dc:language>
        </rdf:Description>
      </rdf:RDF>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:include schemaLocation="https://semanticdatacharter.com/ns/sdc4/sdc4.xsd"/>

  <!-- ================================================================== -->
  <!-- Component: PatientId (XdString)                                     -->
  <!-- ================================================================== -->
  <xsd:element name="ms-lr01pat13nt1dstr1ngv4lu3" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-lr01pat13nt1dstr1ngv4lu3"/>

  <xsd:complexType name="mc-lr01pat13nt1dstr1ngv4lu3" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr01pat13nt1dstr1ngv4lu3">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Patient ID</rdfs:label>
          <rdfs:comment>Unique patient identifier in the format P-NNNNN.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Patient ID"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: TestName (XdString)                                      -->
  <!-- ================================================================== -->
  <xsd:element name="ms-lr02t3stn4m3str1ngv4lu3x" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-lr02t3stn4m3str1ngv4lu3x"/>

  <xsd:complexType name="mc-lr02t3stn4m3str1ngv4lu3x" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr02t3stn4m3str1ngv4lu3x">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Test Name</rdfs:label>
          <rdfs:comment>Name of the clinical laboratory test performed.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Test Name"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: ResultValue (XdQuantity)                                 -->
  <!-- ================================================================== -->
  <xsd:element name="ms-lr03r3sultv4luqu4nt1tyxz" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-lr03r3sultv4luqu4nt1tyxz"/>

  <xsd:complexType name="mc-lr03r3sultv4luqu4nt1tyxz" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr03r3sultv4luqu4nt1tyxz">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdQuantityType"/>
          <rdfs:label>Result Value</rdfs:label>
          <rdfs:comment>Quantitative result of the laboratory test with associated units of measure.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdQuantityType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Result Value"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element name="xdquantity-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="xdquantity-units" type="sdc4:mc-lr03un1tstr1ngtyp3f0rlabr"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Units type for ResultValue -->
  <xsd:complexType name="mc-lr03un1tstr1ngtyp3f0rlabr" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr03un1tstr1ngtyp3f0rlabr">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Result Units</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Result Units"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Units (XdString) — mapped from CSV 'units' column        -->
  <!-- ================================================================== -->
  <xsd:element name="ms-lr04un1t5str1ngv4lu3c0lx" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-lr04un1t5str1ngv4lu3c0lx"/>

  <xsd:complexType name="mc-lr04un1t5str1ngv4lu3c0lx" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr04un1t5str1ngv4lu3c0lx">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Units</rdfs:label>
          <rdfs:comment>Unit of measure for the test result (e.g. mg/dL, mIU/L).</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Units"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: CollectionDate (XdTemporal)                              -->
  <!-- ================================================================== -->
  <xsd:element name="ms-lr05c0ll3ct10nd4t3t3mp0r" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-lr05c0ll3ct10nd4t3t3mp0r"/>

  <xsd:complexType name="mc-lr05c0ll3ct10nd4t3t3mp0r" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr05c0ll3ct10nd4t3t3mp0r">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdTemporalType"/>
          <rdfs:label>Collection Date</rdfs:label>
          <rdfs:comment>Date when the specimen was collected from the patient.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdTemporalType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Collection Date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdtemporal-date" type="xsd:date"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: LabName (XdString)                                       -->
  <!-- ================================================================== -->
  <xsd:element name="ms-lr06l4bn4m3str1ngv4lu3yz" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-lr06l4bn4m3str1ngv4lu3yz"/>

  <xsd:complexType name="mc-lr06l4bn4m3str1ngv4lu3yz" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr06l4bn4m3str1ngv4lu3yz">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Lab Name</rdfs:label>
          <rdfs:comment>Name of the laboratory that performed the test.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Lab Name"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Cluster: LabResults Data Cluster                                    -->
  <!-- ================================================================== -->
  <xsd:element name="ms-lr00clust3rl4br3sultsd4t" substitutionGroup="sdc4:Item" type="sdc4:mc-lr00clust3rl4br3sultsd4t"/>

  <xsd:complexType name="mc-lr00clust3rl4br3sultsd4t" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-lr00clust3rl4br3sultsd4t">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:ClusterType"/>
          <rdfs:label>LabResults Data Cluster</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:ClusterType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="LabResults Data Cluster"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-lr01pat13nt1dstr1ngv4lu3"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-lr02t3stn4m3str1ngv4lu3x"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-lr03r3sultv4luqu4nt1tyxz"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-lr04un1t5str1ngv4lu3c0lx"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-lr05c0ll3ct10nd4t3t3mp0r"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-lr06l4bn4m3str1ngv4lu3yz"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Root Data Model Element                                             -->
  <!-- ================================================================== -->
  <xsd:element name="dm-d3m0labr3sult5x7k9q2w4p1" substitutionGroup="sdc4:DM" type="sdc4:mc-d3m0labr3sult5x7k9q2w4p1"/>

  <xsd:complexType name="mc-d3m0labr3sult5x7k9q2w4p1">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-d3m0labr3sult5x7k9q2w4p1">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:DMType"/>
          <rdfs:label>LabResults</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:DMType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-label" type="xsd:string" fixed="LabResults"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-language" type="xsd:language" fixed="en-US"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-encoding" type="xsd:string" fixed="utf-8"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="creation_timestamp" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="instance_id" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="instance_version" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="current-state" type="xsd:string" default=""/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="sdc4:ms-lr00clust3rl4br3sultsd4t"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="subject" type="sdc4:PartyType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="provider" type="sdc4:PartyType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:Participation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="protocol" type="sdc4:XdStringType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="workflow" type="sdc4:XdLinkType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="acs" type="sdc4:XdLinkType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
