schemas/purchase_orders/dm-d3m0purch4s30rd3rsx6j8r2t.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  SDC4 Data Model: PurchaseOrders
  Pre-baked schema for SDC Agents Demo (self-contained mode).
  Generated from: data/purchase_orders.csv
-->
<xsd:schema
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:sdc4="https://semanticdatacharter.com/ns/sdc4/"
  xmlns:sdc4-meta="https://semanticdatacharter.com/ontology/sdc4-meta/"
  targetNamespace="https://semanticdatacharter.com/ns/sdc4/"
  vc:minVersion="1.1">

  <xsd:annotation>
    <xsd:appinfo>
      <rdf:RDF>
        <rdf:Description rdf:about="dm-d3m0purch4s30rd3rsx6j8r2t">
          <dc:title>PurchaseOrders</dc:title>
          <dc:creator>SDC Agents Demo</dc:creator>
          <dc:subject>Purchase order tracking</dc:subject>
          <dc:rights>CC-BY http://creativecommons.org/licenses/by/3.0/</dc:rights>
          <dc:relation>None</dc:relation>
          <dc:coverage>Universal</dc:coverage>
          <dc:type>SDC Data Model (DM)</dc:type>
          <dc:identifier>dm-d3m0purch4s30rd3rsx6j8r2t</dc:identifier>
          <dc:description>Data model for purchase orders including PO numbers, vendor names, item descriptions, quantities, unit prices, and order dates.</dc:description>
          <dc:publisher>Axius SDC</dc:publisher>
          <dc:date>2025-11-01</dc:date>
          <dc:format>text/xml</dc:format>
          <dc:language>en-US</dc:language>
        </rdf:Description>
      </rdf:RDF>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:include schemaLocation="https://semanticdatacharter.com/ns/sdc4/sdc4.xsd"/>

  <!-- ================================================================== -->
  <!-- Component: PO Number (XdString)                                     -->
  <!-- ================================================================== -->
  <xsd:element name="ms-po01p0numb3rstr1ngv4lu3ab" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-po01p0numb3rstr1ngv4lu3ab"/>

  <xsd:complexType name="mc-po01p0numb3rstr1ngv4lu3ab" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po01p0numb3rstr1ngv4lu3ab">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>PO Number</rdfs:label>
          <rdfs:comment>Purchase order number (e.g. PO-2025-0401).</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="PO Number"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Vendor (XdString)                                        -->
  <!-- ================================================================== -->
  <xsd:element name="ms-po02v3nd0rstr1ngv4lu3cd34" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-po02v3nd0rstr1ngv4lu3cd34"/>

  <xsd:complexType name="mc-po02v3nd0rstr1ngv4lu3cd34" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po02v3nd0rstr1ngv4lu3cd34">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Vendor</rdfs:label>
          <rdfs:comment>Name of the supplying vendor.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Vendor"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Item Description (XdString)                              -->
  <!-- ================================================================== -->
  <xsd:element name="ms-po03d3scr1pt10nstr1ngv4lu" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-po03d3scr1pt10nstr1ngv4lu"/>

  <xsd:complexType name="mc-po03d3scr1pt10nstr1ngv4lu" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po03d3scr1pt10nstr1ngv4lu">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Item Description</rdfs:label>
          <rdfs:comment>Description of the ordered item.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Item Description"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Quantity (XdCount)                                       -->
  <!-- ================================================================== -->
  <xsd:element name="ms-po04qu4nt1tyc0untv4lu3efg" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-po04qu4nt1tyc0untv4lu3efg"/>

  <xsd:complexType name="mc-po04qu4nt1tyc0untv4lu3efg" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po04qu4nt1tyc0untv4lu3efg">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdCountType"/>
          <rdfs:label>Quantity</rdfs:label>
          <rdfs:comment>Number of units ordered.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdCountType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Quantity"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element name="xdcount-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:integer"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="xdcount-units" type="sdc4:mc-po04un1tstr1ngtyp3f0rcnt"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Units type for Quantity -->
  <xsd:complexType name="mc-po04un1tstr1ngtyp3f0rcnt" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po04un1tstr1ngtyp3f0rcnt">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Count Units</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Count Units"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Unit Price (XdQuantity)                                  -->
  <!-- ================================================================== -->
  <xsd:element name="ms-po05un1tpr1c3qu4nt1tyv4lu" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-po05un1tpr1c3qu4nt1tyv4lu"/>

  <xsd:complexType name="mc-po05un1tpr1c3qu4nt1tyv4lu" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po05un1tpr1c3qu4nt1tyv4lu">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdQuantityType"/>
          <rdfs:label>Unit Price</rdfs:label>
          <rdfs:comment>Price per unit in USD.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdQuantityType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Unit Price"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element name="xdquantity-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="xdquantity-units" type="sdc4:mc-po05un1tstr1ngtyp3f0rpr1c"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Units type for Unit Price -->
  <xsd:complexType name="mc-po05un1tstr1ngtyp3f0rpr1c" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po05un1tstr1ngtyp3f0rpr1c">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdStringType"/>
          <rdfs:label>Price Units</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdStringType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Price Units"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="xdstring-value">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdstring-language" type="xsd:language" default="en-US"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Component: Order Date (XdTemporal)                                  -->
  <!-- ================================================================== -->
  <xsd:element name="ms-po06ord3rd4t3t3mp0r4lhij" substitutionGroup="sdc4:XdAdapter-value" type="sdc4:mc-po06ord3rd4t3t3mp0r4lhij"/>

  <xsd:complexType name="mc-po06ord3rd4t3t3mp0r4lhij" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po06ord3rd4t3t3mp0r4lhij">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:XdTemporalType"/>
          <rdfs:label>Order Date</rdfs:label>
          <rdfs:comment>Date the purchase order was placed.</rdfs:comment>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:XdTemporalType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="Order Date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="act" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ExceptionalValue"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vtb" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="vte" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tr" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="modified" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="latitude" type="sdc4:lattype" nillable="true"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="longitude" type="sdc4:lontype" nillable="true"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:ReferenceRange"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="normal-status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="sdc4:MagnitudeStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="accuracy_margin" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="precision_digits" type="xsd:nonNegativeInteger"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="xdtemporal-date" type="xsd:date"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Cluster: PurchaseOrders Data Cluster                                -->
  <!-- ================================================================== -->
  <xsd:element name="ms-po00clust3rpurch4s30rd3rs" substitutionGroup="sdc4:Item" type="sdc4:mc-po00clust3rpurch4s30rd3rs"/>

  <xsd:complexType name="mc-po00clust3rpurch4s30rd3rs" xml:lang="en-US">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-po00clust3rpurch4s30rd3rs">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:ClusterType"/>
          <rdfs:label>PurchaseOrders Data Cluster</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:ClusterType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="label" type="xsd:string" fixed="PurchaseOrders Data Cluster"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-po01p0numb3rstr1ngv4lu3ab"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-po02v3nd0rstr1ngv4lu3cd34"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-po03d3scr1pt10nstr1ngv4lu"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-po04qu4nt1tyc0untv4lu3efg"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-po05un1tpr1c3qu4nt1tyv4lu"/>
          <xsd:element maxOccurs="1" minOccurs="0" ref="sdc4:ms-po06ord3rd4t3t3mp0r4lhij"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- ================================================================== -->
  <!-- Root Data Model Element                                             -->
  <!-- ================================================================== -->
  <xsd:element name="dm-d3m0purch4s30rd3rsx6j8r2t" substitutionGroup="sdc4:DM" type="sdc4:mc-d3m0purch4s30rd3rsx6j8r2t"/>

  <xsd:complexType name="mc-d3m0purch4s30rd3rsx6j8r2t">
    <xsd:annotation>
      <xsd:appinfo>
        <rdf:Description rdf:about="sdc4:mc-d3m0purch4s30rd3rsx6j8r2t">
          <rdf:type rdf:resource="sdc4-meta:ModelComponent"/>
          <sdc4-meta:isConstrainedByRmComponent rdf:resource="sdc4:DMType"/>
          <rdfs:label>PurchaseOrders</rdfs:label>
        </rdf:Description>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:restriction base="sdc4:DMType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-label" type="xsd:string" fixed="PurchaseOrders"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-language" type="xsd:language" fixed="en-US"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="dm-encoding" type="xsd:string" fixed="utf-8"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="creation_timestamp" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="instance_id" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="instance_version" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="current-state" type="xsd:string" default=""/>
          <xsd:element maxOccurs="1" minOccurs="1" ref="sdc4:ms-po00clust3rpurch4s30rd3rs"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="subject" type="sdc4:PartyType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="provider" type="sdc4:PartyType"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="sdc4:Participation"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="protocol" type="sdc4:XdStringType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="workflow" type="sdc4:XdLinkType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="acs" type="sdc4:XdLinkType"/>
        </xsd:sequence>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
